@charset "UTF-8";
/* CSS Document */
*{
	font-family-sans-serif: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fondo {
	background-color:#24363b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body, html {
  height: 100%;
}
.fondo2{
background: rgb(231,238,196);
background: linear-gradient(0deg, rgba(231,238,196,1) 93%, rgba(210,215,185,1) 100%);
	
}
a{
	color: #e7eec4!important;
}
header{
	color:#24363b;
}


.altura{
	height:  70px;
}
.mano{
	
  /* The image used */
  background-image: url("../img/suculenta.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}