@charset "UTF-8";
/* CSS Document */
*{
	font-family-sans-serif: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.fondo {
	background-color:#24363b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body, html {
  min-height: 100%;
}
.sec2{
background: rgb(231,238,196);
background: linear-gradient(0deg, rgba(231,238,196,1) 93%, rgba(210,215,185,1) 100%);
	
}
.sec3{
    background: rgb(231,238,196);
    border:none;
}
.sec4{
    background-image: url(../img/logo%20app@2xclaro.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -15%;
    margin-bottom:2em;
}

a{
	color: #e7eec4!important;
}
header{
	color:#24363b;
}


.altura{
	height:  70px;
}
#first{
	
  /* The image used */
  background-image: url("../img/suculenta.jpg");
  background-color:#fdfcf7;

  /* Full height */
  min-height:650px; 

  /* Center and scale the image nicely */
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
	
}
.block{
    margin:6em 0;
}
.card{
    border:none;
    background-color:rgba(0,0,0,0)!important;
    margin-bottom:4em!important;
}
.card-title{
    text-align:center;
    font-weight:600;
    font-size:1.8em;
    padding-bottom:0.5em;
    border-bottom:solid 1px black;
}
#logo{
    padding-top:2em;
}
#nikola{
    width:80%;
}
#severin{
width:80%;
}

.valoration{
    margin-bottom:5em;
}


#val-1{
    background-image:url(../img/head-valor.jpg);
    background-size:cover;
    background-position:left;
    background-repeat:no-repeat;
    padding-top:100px;
    padding-bottom:180px;
}

#redes{
    padding:2em;
}
#redes img{
    width:20%;
    padding-left:20px;
}

@media (min-width:1180px){
    #first{
        padding-top:30vh;
    }
    #movil{
        position:absolute;
        right:0;
        top:0;
    }
    .relative{
        position:relative;
    }
    #logo{
        position:absolute;
        bottom:0;
    }
    .card{
        padding:0 3em;
    }
    .sec3{
        background: linear-gradient(rgb(231,238,196) 30%, white 30%);
    }
}
@media (min-width:768px){
    .about-second{
        margin-top:-3rem!important
    }
    #block-up{
        margin-top:-4em;
    }
}



